<footer class="container-fluid py-5 px-5">
  <hr class="my-4">
  <div class="row">
    <div class="col-8 col-md">
    </div>
    <div class="col-6 col-md">
      <h5>Hiperautomatizacion</h5>
      <h5> Grupo Salinas</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Juntos creamos el futuro</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Soporte</h5>
      <ul class="list-unstyled text-small">
        <li><a href="mailto:cagonzalezr@elektra.com.mx">cagonzalezr@elektra.com.mx</a></li>
        <li><a href="mailto:gabriela.ortizs@elektra.com.mx">gabriela.ortizs@elektra.com.mx</a></li>
        <li><a href="ramon.santos@elektra.com.mx">ramon.santos@elektra.com.mx</a></li>
      </ul>
    </div>
  </div>
</footer>
